.testimonails h1 {
    text-align: center;
    font-size: 45px;
}

.testimonails h4 {
    text-align: center;
    font-size: 18px;
    color: #fbbf24;
}

.testimonails_container {
    margin-top: 60px;
    width: 100%;
    padding: 20px;
    /* margin: 10px auto; */
    display: flex;
    flex-wrap: wrap;

}

.testimonials_row {
    width: 100%;
    max-width: 400px;
    flex-basis: 31%;
    margin: 10px;
    padding: 20px;
    background-color: #1e272e;
    border-radius: 15px;
}

.testimonials_image {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin: 5px auto;
    transform: translateY(-45px);
    border: 1px solid #fbbf24;
}

.testimonials_image img {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.testimonials_row h3 {
    position: relative;
    text-align: center;
    margin-top: -40px;
    color: #fbbf24;
    font-size: 25px;
    font-weight: 400;
}

.testimonials_row p {
    min-height: 120px;
    margin: 10px 0px;
}

.testimonials_row h2 {
    font-size: 23px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
}

.testimonials_row:hover {
    content: '';
    background-color: #4ade80;
    bottom: 0;
    left: 0;
    transition: 0.7s ease-in-out;
    cursor: pointer;
    height: 100%;
}

@media screen and (max-width:750px),
screen and (max-width:420px) {
    .testimonails_container {
        margin-top: 60px;
        width: 100%;
        padding: 20px;
        /* margin: 10px auto; */
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

    }

    .testimonials_row {
        margin-top: 20px;
    }
}